![pandas](https://user-images.githubusercontent.com/7065401/75165824-badf4680-5701-11ea-9c5b-5475b0a33abf.png)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# Pandas
Panda is a powerful and easy-to-use library for data analysis. It has two main objects to represent data: Series and DataFrame.

### Import libraries

In [1]:
import pandas as pd

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Table of Contents

1. [Getting Started with Data Analysis](#1.-Getting-Started-with-Data-Analysis)

2. [DataFrame and Series Basics](#2.-DataFrame-and-Series-Basics)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## 1. Getting Started with Data Analysis

   #### 1.1  Import CSV File

In [2]:
df = pd.read_csv("data/stackoverflow-survey/survey_results_public.csv")
#The method head shows only the first 5 rows
df.head()
#If you want show only the first 10 rows, you can use "df.head(10)"

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [3]:
#The method tail shows only the last 5 rows
df.tail()
#If you want show only the last 10 rows, you can use "df.tail(10)"

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

#### 1.2 Dataset Size - Rows and Columns

In [4]:
df.shape

(64461, 61)

#### 1.3 Dataset Info Columns

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

#### 1.4 Custom Configurations

In [6]:
#Show all columns from the current dataframe
pd.set_option("display.max_columns", df.shape[1])
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a decade,NaN,NaN,NaN,NaN,Start a free trial,Amused,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend,Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,NaN,NaN,NaN,Primary/elementary school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,DynamoDB;Elasticsearch;MongoDB;MySQL;PostgreSQL,Oracle,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript,HTML/CSS,Node.js,NaN,Github;Gitlab,Confluence;Jira;Slack;Microsoft Teams,NaN,NaN,NaN,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow,Windows,NaN,NaN,Linux;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,MariaDB;Microsoft SQL Server,MariaDB;Microsoft SQL Server;MySQL;Oracle,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Java;JavaScript;SQL,C#;HTML/CSS;Java;JavaScript;SQL,.NET Core;Xamarin,.NET;.NET Core,Github;Microsoft Teams,Github,NaN,NaN,Critically important,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial;Ask developers I know/work ...,Indifferent,NaN,Meditate;Visit Stack Overflow;Go for a walk or...,Windows,NaN,Arduino;Linux;Raspberry Pi;Windows,Android;Arduino;Linux;Raspberry Pi;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [7]:
#Schema is a dataset with the columns and their meanings
schema_df = pd.read_csv("data/stackoverflow-survey/survey_results_schema.csv")

pd.set_option("display.max_rows", schema_df.shape[0])
schema_df

,Column,QuestionText
0,Respondent,Randomized respondent ID number (not in order ...
1,MainBranch,Which of the following options best describes ...
2,Hobbyist,Do you code as a hobby?
3,Age,What is your age (in years)? If you prefer not...
4,Age1stCode,At what age did you write your first line of c...
5,CompFreq,"Is that compensation weekly, monthly, or yearly?"
6,CompTotal,What is your current total compensation (salar...
7,ConvertedComp,Salary converted to annual USD salaries using ...
8,Country,Where do you live?
9,CurrencyDesc,Which currency do you use day-to-day? If your ...
10,CurrencySymbol,Which currency do you use day-to-day? If your ...
11,DatabaseDesireNextYear,Which database environments have you done exte...
12,DatabaseWorkedWith,Which database environments have you done exte...
13,DevType,Which of the following describe you? Please se...
14,EdLevel,Which of the following best describes the high...
15,Employment,Which of the following best describes your cur...
16,Ethnicity,"Which of the following describe you, if any? P..."
17,Gender,"Which of the following describe you, if any? P..."
18,JobFactors,Imagine that you are deciding between two job ...
19,JobSat,How satisfied are you with your current job? (...
20,JobSeek,Which of the following best describes your cur...
21,LanguageDesireNextYear,"Which programming, scripting, and markup langu..."
22,LanguageWorkedWith,"Which programming, scripting, and markup langu..."
23,MiscTechDesireNextYear,"Which other frameworks, libraries, and tools h..."
24,MiscTechWorkedWith,"Which other frameworks, libraries, and tools h..."
25,NEWCollabToolsDesireNextYear,Which collaboration tools have you done extens...
26,NEWCollabToolsWorkedWith,Which collaboration tools have you done extens...
27,NEWDevOps,Does your company have a dedicated DevOps person?
28,NEWDevOpsImpt,How important is the practice of DevOps to sca...
29,NEWEdImpt,"How important is a formal education, such as a..."
30,NEWJobHunt,"In general, what drives you to look for a new ..."
31,NEWJobHuntResearch,"When job searching, how do you learn more abou..."
32,NEWLearn,How frequently do you learn a new language or ...
33,NEWOffTopic,Do you think Stack Overflow should relax restr...
34,NEWOnboardGood,Do you think your company has a good onboardin...
35,NEWOtherComms,Are you a member of any other online developer...
36,NEWOvertime,How often do you work overtime or beyond the f...
37,NEWPurchaseResearch,"When buying a new tool or software, how do you..."
38,NEWPurpleLink,You search for a coding solution online and th...
39,NEWSOSites,Which of the following Stack Overflow sites ha...
40,NEWStuck,What do you do when you get stuck on a problem...
41,OpSys,What is the primary operating system in which ...
42,OrgSize,Approximately how many people are employed by ...
43,PlatformDesireNextYear,Which platforms have you done extensive develo...
44,PlatformWorkedWith,Which platforms have you done extensive develo...
45,PurchaseWhat,"What level of influence do you, personally, ha..."
46,Sexuality,"Which of the following describe you, if any? P..."
47,SOAccount,Do you have a Stack Overflow account?
48,SOComm,Do you consider yourself a member of the Stack...
49,SOPartFreq,How frequently would you say you participate i...
50,SOVisitFreq,How frequently would you say you visit Stack O...
51,SurveyEase,How easy or difficult was this survey to compl...
52,SurveyLength,How do you feel about the length of the survey...
53,Trans,Are you transgender?
54,UndergradMajor,What was your primary field of study?
55,WebframeDesireNextYear,Which web frameworks have you done extensive d...
56,WebframeWorkedWith,Which web frameworks have you done extensive d...
57,WelcomeChange,"Compared to last year, how welcome do you feel..."
58,WorkWeekHrs,"On average, how many hours per week do you wor..."
59,YearsCode,"Including any education, how many years have y..."
60,YearsCodePro,"NOT including education, how many years have y..."

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## 2. DataFrame and Series Basics

### 2.1 DataFrame
#### 2.1.1 - Definition:
A DataFrame is a two dimensional object that can have columns with potential different types. Different kind of inputs include dictionaries, lists, series, and even another DataFrame.

#### 2.1.2 - Create DataFrame

##### Possibility 1:

In [8]:
first = ["Corey", "Jane", "John"]
last = ["Schafer", "Doe", "Doe"]
email = ["coreymschafer@email.com", "JaneDoe@email.com", "JohnDoe@email.com"]

people_lists = [first, last, email]
people_labels = ["first", "last", "email"]

people_zipped = zip(people_labels, people_lists) ## Takes iterables (can be zero or more), aggregates them in a tuple, and return it.
print(people_zipped) 
print()
people_zipped = list(people_zipped)
print(people_zipped) 
print()
people = dict(people_zipped) ## Create Dictionary Using Iterable
print(people)
print()

<zip object at 0x7f01bea0c900>

[('first', ['Corey', 'Jane', 'John']), ('last', ['Schafer', 'Doe', 'Doe']), ('email', ['coreymschafer@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com'])]

{'first': ['Corey', 'Jane', 'John'], 'last': ['Schafer', 'Doe', 'Doe'], 'email': ['coreymschafer@email.com', 'JaneDoe@email.com', 'JohnDoe@email.com']}

##### Possibility 2:

In [9]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["coreymschafer@email.com", "JaneDoe@email.com", "JohnDoe@email.com"]
}

In [10]:
#the parameter of pd.DataFrame(python_dictionary) is the python dictionary object
people_df = pd.DataFrame(people)
people_df

   first     last                    email
0  Corey  Schafer  coreymschafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

#### 2.1.3 - Access Single Column

In [11]:
people_df["email"] 
#return the series object

0    coreymschafer@email.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [12]:
type(people_df["email"])

pandas.core.series.Series

In [13]:
people_df.email

0    coreymschafer@email.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

#### 2.1.3 - Access Multiple Columns

In [14]:
people_df[["last", "email"]]

      last                    email
0  Schafer  coreymschafer@email.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [15]:
#show all columns
people_df.columns

Index(['first', 'last', 'email'], dtype='object')

#### 2.1.4 - Access Single Row

In [16]:
people_df.iloc[0] #row index

first                      Corey
last                     Schafer
email    coreymschafer@email.com
Name: 0, dtype: object

In [17]:
people_df.loc[0] #row index

first                      Corey
last                     Schafer
email    coreymschafer@email.com
Name: 0, dtype: object

In [18]:
people_df.loc[0, ["first", "last"]] #row index and columns labels

first      Corey
last     Schafer
Name: 0, dtype: object

#### 2.1.5 - Access Multiple Rows

In [19]:
people_df.iloc[[0, 1]]

   first     last                    email
0  Corey  Schafer  coreymschafer@email.com
1   Jane      Doe        JaneDoe@email.com

In [20]:
#We can use iloc to access columns too, using the index location
people_df.iloc[[0, 1], [0, 2]]

   first                    email
0  Corey  coreymschafer@email.com
1   Jane        JaneDoe@email.com

In [21]:
people_df.loc[[0, 1]]

   first     last                    email
0  Corey  Schafer  coreymschafer@email.com
1   Jane      Doe        JaneDoe@email.com

In [22]:
people_df.loc[[0, 1], ["first", "email"]] #with "loc" we can use the columns labels

   first                    email
0  Corey  coreymschafer@email.com
1   Jane        JaneDoe@email.com

#### 2.1.6 - Broadcasting
Broadcasting saves time in generating long lists, arrays, or columns without loops.

In [23]:
people_df

   first     last                    email
0  Corey  Schafer  coreymschafer@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [24]:
people_df['last'] = "Brayan" # Broadcasts to entire column
people_df

   first    last                    email
0  Corey  Brayan  coreymschafer@email.com
1   Jane  Brayan        JaneDoe@email.com
2   John  Brayan        JohnDoe@email.com

#### 2.1.7 - DataFrame Re-labeling

In [25]:
people_df.columns = ["first name", "last name", "user email"]
people_df.index = ["P1", "P2", "P3"]
people_df

   first name last name               user email
P1      Corey    Brayan  coreymschafer@email.com
P2       Jane    Brayan        JaneDoe@email.com
P3       John    Brayan        JohnDoe@email.com

#### 2.1.8 - Search
Check if certain labels or values are present in a Pandas DataFrame.

In [26]:
data = {'nome': ['Argentina','Brasil','França','Itália','Reino	Unido'],
        'continente': ['América','América','Europa','Europa','Europa'],
        'extensao':	[2780,8511,644,301,244],
        'corVerde':	[0,1,0,1,0]}

acronyms = ['AR','BR','FR','IT','UK']

countries = pd.DataFrame(data,index=acronyms)

has_BR	=	'BR' in	countries.index
has_US	=	'US' in	countries.index
print("exist the label 'BR'? -> ",has_BR)
print("exist the label 'US'? -> ",has_US)
print('---------------------------')
has_greenColor = 'corVerde' in countries.columns
has_blueColor = 'corAzul' in countries.columns
print("exist the label 'corVerde? -> ",has_greenColor)
print("exist the label 'corAzul'? -> ",has_blueColor)
print('---------------------------')
has_Brazil = countries['nome'].isin(['Brasil'])
print("exist the value 'Brasil'	at the column 'nome'?")
print(has_Brazil)

exist the label 'BR'? ->  True
exist the label 'US'? ->  False
---------------------------
exist the label 'corVerde? ->  True
exist the label 'corAzul'? ->  False
---------------------------
exist the value 'Brasil'	at the column 'nome'?
AR    False
BR     True
FR    False
IT    False
UK    False
Name: nome, dtype: bool

#### 2.1.9 - Modification

In [27]:
#insert
countries.loc['JP'] = {'nome': 'Japão', 'continente': 'Ásia', 'extensao':	372, 'corVerde': 0}
countries

            nome continente  extensao  corVerde
AR     Argentina    América      2780         0
BR        Brasil    América      8511         1
FR        França     Europa       644         0
IT        Itália     Europa       301         1
UK  Reino\tUnido     Europa       244         0
JP         Japão       Ásia       372         0

In [28]:
#change
countries.at["BR", "extensao"] = 8512
countries

            nome continente  extensao  corVerde
AR     Argentina    América      2780         0
BR        Brasil    América      8512         1
FR        França     Europa       644         0
IT        Itália     Europa       301         1
UK  Reino\tUnido     Europa       244         0
JP         Japão       Ásia       372         0

In [29]:
#remove
countries = countries.drop(['AR', 'UK'])
countries

      nome continente  extensao  corVerde
BR  Brasil    América      8512         1
FR  França     Europa       644         0
IT  Itália     Europa       301         1
JP   Japão       Ásia       372         0

### 2.2 Series
#### 2.2.1 - Definition:
Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index.

#### 2.2.2 - Create Series

##### Possibility 1:

In [30]:
alphabet_series = pd.Series(['a','10','c','d','e','f','g','h','i','j','k','l','m',
                             'n','o','p','q','r','s','t','u','v','w','x','y','z'])
alphabet_series

0      a
1     10
2      c
3      d
4      e
5      f
6      g
7      h
8      i
9      j
10     k
11     l
12     m
13     n
14     o
15     p
16     q
17     r
18     s
19     t
20     u
21     v
22     w
23     x
24     y
25     z
dtype: object

##### Possibility 2:

In [31]:
enrollments = ['M02','M05','M13','M14','M19']
names = ['Bob','Dayse','Bill','Cris','Jimi']

students = pd.Series(names, index=enrollments)
students

M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

##### Possibility 3:

In [32]:
students_dict = {'M02':'Bob','M05':'Dayse','M13':'Bill','M14':'Cris','M19':'Jimi'}
students = pd.Series(students_dict)
students

M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [33]:
# assign name to data vector and label vector
students.name = "students"
students.index.name = "enrollments"
students

enrollments
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: students, dtype: object

#### 2.2.3 - Access Single or Multiple Elements - Indexing
To access single or multiple elements we can use the same methods as the DataFrame object.

##### - 1. Traditional Indexing -> Return one element by index or label

In [34]:
students[0]

'Bob'

In [35]:
students["M02"]

'Bob'

##### - 2. Slicing -> Return multiples elements(pandas series) by slicing with ranges or lists

In [36]:
#list[begin:end:step]
students[0:4:2]

enrollments
M02     Bob
M13    Bill
Name: students, dtype: object

In [37]:
# list of data indexes
students[[0, 2]]

enrollments
M02     Bob
M13    Bill
Name: students, dtype: object

In [38]:
#list of data labels
students[["M02", "M13"]]

enrollments
M02     Bob
M13    Bill
Name: students, dtype: object

##### - 3. Boolean Indexing -> Subsets of data are selected based on the values of the Series (values of the data vector) and not their labels/indexes

In [39]:
grades = pd.Series([7.6,	5.0,	8.5,	9.5,	6.4])
grades

0    7.6
1    5.0
2    8.5
3    9.5
4    6.4
dtype: float64

In [40]:
idx_approved = grades[grades>=7.0].index #indexes of approved students
print(idx_approved)
students[idx_approved]

Int64Index([0, 2, 3], dtype='int64')

enrollments
M02     Bob
M13    Bill
M14    Cris
Name: students, dtype: object

#### 2.2.4 - Search
Check if certain labels or values are present in a Pandas Series.

In [41]:
"M02" in students

True

In [42]:
students.isin(["Bob", "Bill"])

enrollments
M02     True
M05    False
M13     True
M14    False
M19    False
Name: students, dtype: bool

#### 2.2.5 - Modification
Basic way to insert, modify and delete elements.

In [43]:
students = pd.Series({'M02':'Bob','M05':'Dayse','M13':'Bill', 'M14':'Cris','M19':'Jimi'})
students

M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [44]:
# insert student
students['M55'] = 'Rakesh'
students

M02       Bob
M05     Dayse
M13      Bill
M14      Cris
M19      Jimi
M55    Rakesh
dtype: object

In [45]:
#change the names by enrollment
students['M13']	='Billy'
students[['M14','M19']]	= ['Cristy','Jimmy']
students

M02       Bob
M05     Dayse
M13     Billy
M14    Cristy
M19     Jimmy
M55    Rakesh
dtype: object

In [46]:
#remove students
print(students)
students = students.drop("M02")
print("---------------------")
students

M02       Bob
M05     Dayse
M13     Billy
M14    Cristy
M19     Jimmy
M55    Rakesh
dtype: object
---------------------

M05     Dayse
M13     Billy
M14    Cristy
M19     Jimmy
M55    Rakesh
dtype: object

In [47]:
#change all enrollments (indexes)
students.index = ['M91','M92','M93','M94','M95']
students

M91     Dayse
M92     Billy
M93    Cristy
M94     Jimmy
M95    Rakesh
dtype: object

#### 2.2.6 - Datetime indexes
Datetime indexes are used mainly to handle with time series. A time series consists of a series of data collected in successive increments of time or some other string indicator type.

In [48]:
days = ['10/02/2019', '11/02/2019','12/02/2019','13/02/2019',
'14/02/2019','15/02/2019']
temperature = [31,35,34,28,27,27]
time_series = pd.Series(temperature,index=days)
time_series.index = pd.to_datetime(time_series.index, format='%d/%m/%Y')
print(time_series)

2019-02-10    31
2019-02-11    35
2019-02-12    34
2019-02-13    28
2019-02-14    27
2019-02-15    27
dtype: int64

#### 2.2.7 - Hierarchical Indexing

In [49]:
coins = ['Peso', 'Real', 'Euro', 'Euro', 'Libra']
countries = [['América','América','Europa','Europa','Europa'], ['AR','BR','FR','IT','UK']]
countries = pd.Series(coins, index=countries)
countries

América  AR     Peso
         BR     Real
Europa   FR     Euro
         IT     Euro
         UK    Libra
dtype: object

In [50]:

print(countries['América'])
print('----------------------')	
print(countries[:,'IT'])
print('----------------------')	
print(countries['Europa','IT'])

AR    Peso
BR    Real
dtype: object
----------------------
Europa    Euro
dtype: object
----------------------
Euro

### 2.3 Putting it into practice with the Stackoverflow Survey Dataset

In [51]:
df.shape

(64461, 61)

In [52]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [53]:
df["Hobbyist"]

0        Yes
1         No
2        Yes
3        Yes
4        Yes
        ...
64456    Yes
64457    Yes
64458    Yes
64459    Yes
64460    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [54]:
df["Hobbyist"].value_counts()
#Counts how many people said yes or no to the hobbyist question

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [55]:
df.loc[0, "Hobbyist"]

'Yes'

In [56]:
df.loc[10:15, "Hobbyist":"Country"] #using slice

,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country
10,Yes,23.0,13,Yearly,31000.0,40070.0,United Kingdom
11,No,49.0,42,Monthly,1100.0,14268.0,Spain
12,Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands
13,Yes,27.0,13,Yearly,66000.0,66000.0,United States
14,Yes,NaN,13,NaN,NaN,NaN,France
15,Yes,45.0,8,Monthly,7000.0,108576.0,United Kingdom

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## 3. Grouping data

### 3.1 Categoricals and groupby

In [57]:
sales = pd.DataFrame({
    "weekday":["Sun", "Sun", "Mon", "Mon"],
    "city":["Austin", "Dallas","Austin", "Dallas"],
    "bread":[139,237, 326, 456],
    "butter":[20, 45,70, 98]
})
sales

  weekday    city  bread  butter
0     Sun  Austin    139      20
1     Sun  Dallas    237      45
2     Mon  Austin    326      70
3     Mon  Dallas    456      98

#### - Boolean filter and count

In [58]:
sales.loc[sales["weekday"]=="Sun"].count()

weekday    2
city       2
bread      2
butter     2
dtype: int64

#### - Gropuby and count

In [59]:
sales.groupby("weekday").count()

         city  bread  butter
weekday
Mon         2      2       2
Sun         2      2       2

#### - Aggregation/Reduction
Pandas groupby works with many statistical reductions.
Some reducing functions:
- mean()
- std()
- sum()
- first(), last()
- min(), max()

##### Groupby and sum

In [60]:
sales.groupby("weekday")["bread"].sum()

weekday
Mon    782
Sun    376
Name: bread, dtype: int64

##### Groupby and sum: multiple columns

In [61]:
sales.groupby("weekday")[["bread", "butter"]].sum()

         bread  butter
weekday
Mon        782     168
Sun        376      65

##### Groupby and mean: multi-level index

In [62]:
sales.groupby(["city", "weekday"]).mean()

                bread  butter
city   weekday
Austin Mon        326      70
       Sun        139      20
Dallas Mon        456      98
       Sun        237      45

##### Groupby and sum: by series

In [63]:
customers = pd.Series(["Dave", "Alice", "Bob", "Alice"])
customers

0     Dave
1    Alice
2      Bob
3    Alice
dtype: object

In [64]:
sales.groupby(customers)["bread"].sum()

Alice    693
Bob      326
Dave     139
Name: bread, dtype: int64

#### - Categorical data
Advantages: Uses less memory and speeds up operations like `groupby()`

In [65]:
# all values without repetition in "weekday" column
sales["weekday"].unique()

array(['Sun', 'Mon'], dtype=object)

In [66]:
sales["weekday"] = sales["weekday"].astype("category")
sales["weekday"]

0    Sun
1    Sun
2    Mon
3    Mon
Name: weekday, dtype: category
Categories (2, object): ['Mon', 'Sun']

### 3.2 Groupby and aggregation

#### - Multiple aggregations

In [67]:
sales.groupby("city")[["bread", "butter"]].agg(["max", "sum"])

       bread      butter
         max  sum    max  sum
city
Austin   326  465     70   90
Dallas   456  693     98  143

#### - Custom aggregation: functions

In [68]:
def data_range(series):
    return series.max() - series.min()

In [69]:
sales.groupby("weekday")[["bread", "butter"]].agg(data_range)

         bread  butter
weekday
Mon        130      28
Sun         98      25

#### - Custom aggregation: dicitionaries
The key is the column and the value is the aggregation function

In [70]:
sales.groupby(customers)[["bread", "butter"]].agg({"bread":"sum", "butter": data_range})

       bread  butter
Alice    693      53
Bob      326       0
Dave     139       0

### 3.3 Groupby and transformation

#### - The z-score

In [71]:
def zscore(series):
    return (series - series.mean())/series.std()

In [72]:
zscore(sales["bread"]).head()

0   -1.117003
1   -0.389652
2    0.270901
3    1.235754
Name: bread, dtype: float64

In [73]:
sales.groupby("weekday")["bread"].transform(zscore).head()

0   -0.707107
1    0.707107
2   -0.707107
3    0.707107
Name: bread, dtype: float64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## 4. Rearranging and reshaping dat

### 4.1 Pivoting DataFrames

In [74]:
trials = pd.DataFrame({
    "id": [1, 2, 3, 4],
    "treatment": ["A", "A", "B", "B"],
    "gender": ["F", "M","F","M"],
    "response": [5,3,8,9]
})
trials

   id treatment gender  response
0   1         A      F         5
1   2         A      M         3
2   3         B      F         8
3   4         B      M         9

##### - Reshaping by pivoting

In [75]:
trials.pivot(index="treatment",
            columns="gender",
            values="response")

gender     F  M
treatment
A          5  3
B          8  9

##### - Pivoting multiple columns

In [76]:
trials.pivot(index="treatment", columns="gender")

          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9

### 4.2 Stacking & unstacking DataFrames

In [77]:
trials = trials.set_index(["treatment", "gender"])
trials

                  id  response
treatment gender
A         F        1         5
          M        2         3
B         F        3         8
          M        4         9

The pivot method won't work directly with this DataFrame because of the multi-level index. In this case, we might want to move some of the index levels to columns, making our DataFrame shorter and wider (more columns, fewer rows).

In [78]:
trials_by_gender = trials.unstack(level="gender")
trials_by_gender

          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9

In [79]:
stacked = trials_by_gender.stack(level="gender")
stacked

                  id  response
treatment gender
A         F        1         5
          M        2         3
B         F        3         8
          M        4         9

##### - Swapping levels

In [80]:
swapped = stacked.swaplevel(0, 1)
swapped

                  id  response
gender treatment
F      A           1         5
M      A           2         3
F      B           3         8
M      B           4         9

##### - Sorting rows

In [81]:
sorted_trials = swapped.sort_index()
sorted_trials

                  id  response
gender treatment
F      A           1         5
       B           3         8
M      A           2         3
       B           4         9

### 4.3 Melting DataFrames

`Pandas.melt()`

Pandas.melt() unpivots a DataFrame from wide format to long format.
melt() function is useful to massage a DataFrame into a format where one or more columns are identifier variables, while all other columns, considered measured variables, are unpivoted to the row axis, leaving just two non-identifier columns, variable and value.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)